@using IdentityServer4.Extensions
@using TheCoreBanking.Authenticate.Models
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    @*<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />*@
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Enterprise Resource Application</title>

    <environment include="Development">
        <link href="~/css/Montserrat.css" rel="stylesheet" />
        <link href="~/css/all.css" rel="stylesheet" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/bootstraptable/bootstrap-table.css" rel="stylesheet" />
        <link href="~/css/webfonts/now-ui-dashboard.minf700.css" rel="stylesheet" />
        <link href="~/css/fontawesome/css/all.css" rel="stylesheet" />
        @*<link href="~/css/now-ui-dashboard.minf700.css" rel="stylesheet" />*@
        @*<link href="~/css/pace/red/pace-theme-material.css" rel="stylesheet" />*@
        <link href="~/css/fileinput.css" rel="stylesheet" />
        <link href="~/css/select2/select2.css" rel="stylesheet" />
        <link href="~/css/select2/select2-bootstrap4.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/passwordcheck.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/Montserrat.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/webfonts/now-ui-dashboard.minf700.css" rel="stylesheet" />
        <link href="~/css/fontawesome/css/all.css" rel="stylesheet" />
        <link href="~/css/fileinput.min.css" rel="stylesheet" />
        <link href="~/css/bootstraptable/bootstrap-table.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/select2/select2.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/select2/select2-bootstrap4.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/passwordcheck.css" rel="stylesheet" asp-append-version="true" />

    </environment>
    @*@RenderSection("Styles", required: false)*@

</head>
<body>

    <div class="wrapper ">

        <div class="sidebar" data-color=green>
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->
            <div class="logo">
                <a href="http://www.fintraksoftware.com/" target="_blank" class="simple-text logo-normal">
                    @*<img src="~/img/fintraklogo.png" />*@
                    Fintrak &reg; Bank
                </a>
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
                        <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
                        <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
                    </button>
                </div>
            </div>
            @*<div class="logo">
                    <a href="http://www.fintraksoftware.com/" class="simple-text logo-mini">
                        FB
                    </a>
                    <a href="http://www.fintraksoftware.com/" class="simple-text logo-normal">
                        Fintrak &reg; Bank
                    </a>

                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
                            <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
                            <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
                        </button>
                    </div>

                </div>*@
            <div class="sidebar-wrapper">

                <div class="user">
                    <div class="photo">

                        @*<img src="~/img/james.jpg" />*@
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                @name
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="clearfix"></div>
                        <div class="collapse" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("ChangePassword","Account")">
                                            <span class="sidebar-mini-icon">CP</span>
                                            <span class="sidebar-normal">Change Password</span>
                                        </a>
                                    </li>
                                    @*<li>
                                        <a href="#">
                                            <span class="sidebar-mini-icon">EP</span>
                                            <span class="sidebar-normal">Edit Profile</span>
                                        </a>
                                    </li>*@
                                    
                                </ul>
                            </div>
                    </div>
                </div>

                <ul class="nav">
                    <li>
                        <a href="https://nibsserp.nibss-plc.com.ng/">

                            <i class="now-ui-icons design_app"></i>

                            <p>Dashboard</p>
                        </a>
                    </li>




                    @*<li>

                            <a data-toggle="collapse" href="#productSetup">

                                <i class="now-ui-icons design_image"></i>

                                <p>
                                    Product Setup <b class="caret"></b>
                                </p>
                            </a>
                            <div class="dropdown" id="productSetup">
                                <ul class="nav">

                                    <li>
                                        <a href="https://156.0.255.50:442/Product">
                                            <span class="sidebar-mini-icon">PS</span>
                                            <span class="sidebar-normal"> Product Setup </span>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </li>*@

                    <li>

                        <a data-toggle="collapse" href="#adminSetup">

                            <i class="now-ui-icons design_image"></i>

                            <p>
                                Admin Setup <b class="caret"></b>
                            </p>
                        </a>
                        <div class="dropdown" id="adminSetup">
                            <ul class="nav">
                                <li>
                                    <a href="@Url.Action("Register","Administration")">
                                        <span class="sidebar-mini-icon">R</span>
                                        <span class="sidebar-normal"> Register </span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="@Url.Action("StartAndEndDay","Administration")">
                                        <span class="sidebar-mini-icon">SE</span>
                                        <span class="sidebar-normal">Start And End Of Day</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ValidateEOD","Administration")">
                                        <span class="sidebar-mini-icon">EOD</span>
                                        <span class="sidebar-normal">Validate EOD</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","HolidaySetup")">
                                        <span class="sidebar-mini-icon">HS</span>
                                        <span class="sidebar-normal">Holiday Setup</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("UserManagement","Administration")">
                                        <span class="sidebar-mini-icon">UA</span>
                                        <span class="sidebar-normal">User Management</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Autologout","Administration")">
                                        <span class="sidebar-mini-icon">AS</span>
                                        <span class="sidebar-normal">Auto Sign Off</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </li>

                </ul>
            </div>
        </div>

        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <a class="navbar-brand" href="#">
                    User Registration,Role and Privileges
                </a>
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">@RenderSection("title", false)</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            <li class="nav-item">

                                @if (User.Identity.IsAuthenticated)
                                {
                    <span class="text-white" asp-area="" onclick="SystemLogout()"><i class="now-ui-icons ui-1_lock-circle-open"></i> Welcome @ViewData["StaffName"], Logout</span> }
                else
                {
    <span class="text-white" href="@Url.Action("Login", "Account")"><i class="now-ui-icons ui-1_lock-circle-open"></i>Login</span>}
                            </li>

                        </ul>



                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm text-center">
                @*style="background:#141e30; background: linear-gradient(90deg,#9C7F18 0,#51A8B1 60%,#184226)" csp reject this inline declaration*@


                @RenderSection("pagedescription", false)
            </div>
            <div class="content">
                <marquee direction="left">System Date:@ViewData["CurrentDate"] Bank: @ViewData["CompanyName"] Branch: @ViewData["Branch"]</marquee>
                @RenderBody()
                @*style="color:white"*@
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.fintraksoftware.com/">
                                    Fintrak Software Co. Limited
                                </a>
                            </li>
                            @*<li>
                                    <a href="http://presentation.fintraksoftware.com/">
                                        About Us
                                    </a>
                                </li>*@
                            <li>

                                <a href="http://www.fintraksoftware.com/About.html" target="_blank">
                                    About Us
                                </a>
                            </li>
                            <li>
                                @*<a href="http://blog.fintraksoftware.com/">*@
                                <a href="http://www.fintraksoftware.com/page14.html" target="_blank">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        - TheCoreBanking  by <a href="https://www.fintraksoftware.com/" target="_blank">Fintrak Software Co. Limited</a>.
                    </div>
                </div>
            </footer>
            @*<script>document.write(new Date().getFullYear())</script> csp reject this declaration*@
        </div>

    </div>



    <environment include="Development">
        <script src="~/js/core/jquery.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/core/select2.full.js"></script>
        @*<script src="~/js/core/bootstrap.min.js"></script>*@
        <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/js/plugins/moment.min.js"></script>
        <script src="~/js/plugins/bootstrap-switch.js"></script>
        <script src="~/js/plugins/sweetalert2.min.js"></script>
        <script src="~/js/plugins/jquery.validate.min.js"></script>

        <script src="~/js/plugins/jquery.bootstrap-wizard.js"></script>
        <script src="~/js/plugins/bootstrap-selectpicker.js"></script>
        <script src="~/js/plugins/bootstrap-datetimepicker.js"></script>
        <script src="~/js/bootstraptable/bootstrap-table.js"></script>
        <script src="~/js/bootstraptable/mobile/bootstrap-table-mobile.js"></script>
        @* <script src="~/js/plugins/jquery.dataTables.min.js"></script>*@
        <script src="~/js/plugins/bootstrap-tagsinput.js"></script>
        <script src="~/js/plugins/jasny-bootstrap.min.js"></script>
        <script src="~/js/plugins/fullcalendar.min.js"></script>
        <script src="~/js/plugins/jquery-jvectormap.js"></script>
        <script src="~/js/plugins/nouislider.min.js"></script>

        <script src="~/js/plugins/chartjs.min.js"></script>
        <script src="~/js/plugins/bootstrap-notify.js"></script>
        <script src="~/js/now-ui-dashboard.minf700.js?v=1.0.1"></script>
        <script src="~/js/pace.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/css/select2/select2.min.js"></script>
        <script src="~/js/core/fileinput.js"></script>
        <script src="~/js/Logout.js"></script>
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>*@
        <script src="~/js/core/jquery.min.js"></script>
        <script src="~/js/core/popper.min.js"></script>
        @*<script src="~/js/core/bootstrap.min.js"></script>*@
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/js/plugins/moment.min.js"></script>
        <script src="~/js/plugins/bootstrap-switch.js"></script>
        <script src="~/js/plugins/sweetalert2.min.js"></script>
        <script src="~/js/plugins/jquery.validate.min.js"></script>

        <script src="~/js/plugins/jquery.bootstrap-wizard.js"></script>
        <script src="~/js/plugins/bootstrap-selectpicker.js"></script>
        <script src="~/js/plugins/bootstrap-datetimepicker.js"></script>
        <script src="~/js/bootstraptable/bootstrap-table.js"></script>
        <script src="~/js/bootstraptable/mobile/bootstrap-table-mobile.js"></script>
        <script src="~/js/plugins/bootstrap-tagsinput.js"></script>
        <script src="~/js/plugins/jasny-bootstrap.min.js"></script>
        <script src="~/js/plugins/fullcalendar.min.js"></script>
        <script src="~/js/plugins/jquery-jvectormap.js"></script>
        <script src="~/js/plugins/nouislider.min.js"></script>

        <script src="~/js/plugins/chartjs.min.js"></script>
        <script src="~/js/plugins/bootstrap-notify.js"></script>
        <script src="~/js/now-ui-dashboard.minf700.js?v=1.0.1"></script>
        <script src="~/js/pace.min.js"></script>

        <script src="~/css/select2/select2.min.js"></script>
        <script src="~/js/core/select2.full.js"></script>
        <script src="~/js/core/fileinput.min.js"></script>
        <script src="~/js/Logout.js"></script>

    </environment>
    @*<script type="text/javascript">
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();

        </script>*@
    <script type="text/javascript" src="~/js/register.js"></script>
    <script type="text/javascript" src="~/js/passwordscheck.js"></script>
    <script name="clear-browser-cache" src='~/js/clear-browser-cache.js' value="true"></script>
    @RenderSection("Scripts", required: false)

    @*<script type="text/javascript">
            $(document).ready(function () {
                debugger
                $(function () {
                    $('ul li').on('click', function () {
                        $(this).closest('ul').find('li.active').removeClass('active');
                        $(this).addClass('active');
                    });
                });
            })

        </script>*@
    @*<script>
            $(document).ready(function () {
                // Javascript method's body can be found in assets/js/demos.js
                md.initDashboardPageCharts();
            });
        </script>*@


</body>
</html>











